@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 40% 98%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --accent: 263.4 70% 50.4%;
        --accent-foreground: 210 40% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background text-foreground antialiased;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-secondary;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary/50 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
}