---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import FeaturedPosts from '../components/FeaturedPosts';
import Footer from '../components/Footer.astro';
---

<Layout title="Antigravity | Modern Blog">
	<Navbar client:load />
	<main>
		<Hero client:load />
		<FeaturedPosts client:visible />
	</main>
	
	<Footer />
</Layout>
